#app {
    top: 0;
    left: 0;
    position: fixed;
}

#bottom {
    color: white;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    z-index: 999;
}